<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <input type="hidden" placeholder="this is content">
  <input type="tel" placeholder="123">
  <input type="email" list="emailList" autocomplete="off" dir="rtl">
  <datalist id="emailList">
    <option label="163" value="pwstrick@163.com"></option>
    <option label="123" value="123@123.com"></option>
    <option value="asdf@as.cn"></option>
  </datalist>
  <input type="date" min="2019-12-21">
  <input type="week">
  <input type="image" src="">
</body>
</html>